<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos - CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
  </head>
  <body>

    <div class="container">
      <form class="form-group" action="" method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            <label>Nombre de usuario:</label>
            <input type="text" name="username">
            <label>Password:</label>
            <input type="password" name="password">

            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>        
      </form>
      <a href="{% url 'signup' tipo_id=tipo_user %}"><button class="btn btn-primary">Registrar</button></a>
      
      {% for message in messages %}
        <p id="messages">{{ message }}</p>
      {% endfor %}

    </div>
  </body>
</html>
